@import 'root';

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pull-left span {
  margin-right: 10px;
}

.tags-title {
  font-weight: 700;
}

.glyphicon {
    margin-right: 10px;
}
//Navigation
li>a.active {
  background-image: -webkit-linear-gradient(top,#080808 0,#0f0f0f 100%);
  background-image: -o-linear-gradient(top,#080808 0,#0f0f0f 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#080808),to(#0f0f0f));
  background-image: linear-gradient(to bottom,#080808 0,#0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}


.post-page {
    height: 100px;
    background: pink;
}

.post-content{
    height: 100px;
    background-color: navy;
}
